<nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-dark" id="navbar-main">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><%= image_tag "logo_laiki_transparent.png", id: "navbar-logo"%> </a>
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
      <!-- Toggler -->
      <div class="position-relative">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <i data-feather="x"></i>
        </button>
      </div>
      <!-- Main navigation -->
      <ul class="navbar-nav ml-lg-auto">
        <!-- Overview -->
        <li class="nav-item nav-item-spaced d-none d-lg-block">
          <a class="nav-link" href="#">Vegetables</a>
        </li>
        <li class="nav-item nav-item-spaced d-none d-lg-block">
          <a class="nav-link" href="#">Fruits</a>
        </li>
        <li class="nav-item nav-item-spaced d-none d-lg-block">
          <a class="nav-link" href="#">Honey & Dried Food</a>
        </li>
        <li class="nav-item nav-item-spaced d-none d-lg-block">
          <a class="nav-link" href="#">Fish</a>
        </li>
        <li class="nav-item nav-item-spaced d-none d-lg-block">
          <a class="nav-link" href="#">Legumes</a>
        </li>
      </ul>
      <!-- Right navigation -->
      <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
        <!-- Auth -->
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-sm btn-warning btn-icon ml-3" target="_blank">
            <span class="btn-inner--icon">
              <i data-feather="shopping-bag"></i>
            </span>
            <span class="btn-inner--text">Create Account</span>
          </a>
        </li>
      </ul>
      <!-- Mobile button -->
      <div class="d-lg-none px-4 text-center">
        <a href="#" class="btn btn-block btn-sm btn-primary" target="_blank">Create Account</a>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in </a>
        </li>
      </div>
    </div>
  </div>
</nav>